<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form1</title>
    <style >
        body
        {
            background-color: #A3F2AE;
        }
        table
        {
            margin: auto; /* Dùng để căn giữa bảng */
        }
    </style>
</head>
<body>
    <!-- <form action="" name="form1" method="post"> 
        <div style="text-align: center;">
            Login<br>
            Username <input type="text" name="txt1" value=""><br>
            Password <input type="text" name="txt2" value=""><br>
            <input type="button" name="login" value="Login">
            <input type="button" name="reset" value="Reset">
        </div>
    </form> -->
    <div style="text-align: center;">
        <h3>Login</h3><br>
        <table border="0">
            <tr>
                <td>
                    User
                </td>
                <td>
                    <input type="text" name="User" id="">
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="text" name="Password" >
                </td>
            </tr>
        </table>
        <tr>
            <td>
            </td>
            <td>
                <input type="button" name="ok" value="OK">
                <input type="reset" name="reset" value="Reset">
            </td>
        </tr>       
    </div> 
</body>
</html>